<?xml version="1.0" encoding="utf-8"?>
<!--
This source code is Free Open Source Software. It is provided
with NO WARRANTY expressed or implied to the extent permitted by law.

This source code is distributed under the New BSD license:

================================================================================

   Copyright (c) 2020, International Atomic Energy Agency (IAEA), IAEA.org

   All rights reserved.

   Redistribution and use in source and binary forms, with or without
   modification, are permitted provided that the following conditions are met:

    * Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.
    * Neither the name of IAEA nor the names of its contributors
      may be used to endorse or promote products derived from this software
      without specific prior written permission.

   THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
   "AS IS"AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
   LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
   A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR
   CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
   EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
   PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
   PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
   LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
   NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
   SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp49D25B12DA43D1977E7FA017C8B9A5DA" Guid="*">
              <File Id="fil83F572D5885CA4382178F46C6D14A7DA" Source="$(var.Omniscient.TargetDir)\Omniscient.exe">
                <Shortcut Id="MyProduct.Shortcut" Directory="MyProductShortcutDir" Name="Omniscient" Advertise="yes" />
                <Shortcut Id="DesktopShortcut"
                          Directory="DesktopFolder"
                          Name="Omniscient"
                          Description="Omniscient"
                          WorkingDirectory="INSTALLFOLDER"
                          Icon="Omniscient.exe"
                          IconIndex="0"
                          Advertise="yes" >
                  <Icon Id="Omniscient.exe" SourceFile="$(var.Omniscient.TargetDir)\Omniscient.exe" />
                </Shortcut>
              </File>
              <RemoveFolder Id="StartMenuDirRemoved" Directory="MyProductShortcutDir" On="uninstall" />
            </Component>
            <Component Id="cmp405B536F5FC7CCC09BA08628CF213171" Guid="*">
                <File Id="fil40773D171BEB0521D7A39F6540587D42" Source="$(var.Omniscient.TargetDir)\Omniscient.exe.config" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Omniscient.Binaries">
            <ComponentRef Id="cmp49D25B12DA43D1977E7FA017C8B9A5DA" />
            <ComponentRef Id="cmp405B536F5FC7CCC09BA08628CF213171" />
        </ComponentGroup>
    </Fragment>
</Wix>